.ues-button {
  background-color: #dedede;
  background-image: -o-linear-gradient(to bottom, #f7f7f7 0%, #e6e6e6 100%);
  background-image: -ms-linear-gradient(to bottom, #f7f7f7 0%, #e6e6e6 100%);
  background-image: -moz-linear-gradient(to bottom, #f7f7f7 0%, #e6e6e6 100%);
  background-image: -webkit-linear-gradient(to bottom, #f7f7f7 0%, #e6e6e6 100%);
  background-image: linear-gradient(to bottom, #f7f7f7 0%, #e6e6e6 100%);
  display: inline-block;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  padding: 5px 19px;
  text-align: center;
  vertical-align: baseline;
  text-transform: uppercase;
  border: 1px solid #ccc;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.ues-button:hover {
  background-color: #e6e6e6;
  background-image: -o-linear-gradient(to bottom, #fff 0%, #e6e6e6 100%);
  background-image: -ms-linear-gradient(to bottom, #fff 0%, #e6e6e6 100%);
  background-image: -moz-linear-gradient(to bottom, #fff 0%, #e6e6e6 100%);
  background-image: -webkit-linear-gradient(to bottom, #fff 0%, #e6e6e6 100%);
  background-image: linear-gradient(to bottom, #fff 0%, #e6e6e6 100%);
}

.ues-button:focus {
  -o-box-shadow: #f7f6f5 0 0 0 1px;
  -ms-box-shadow: #f7f6f5 0 0 0 1px;
  -moz-box-shadow: #f7f6f5 0 0 0 1px;
  -webkit-box-shadow: #f7f6f5 0 0 0 1px;
  box-shadow: #f7f6f5 0 0 0 1px;
}

.ues-button:focus,
.ues-button:active {
  background-color: #e6e6e6;
  background-image: -o-linear-gradient(to bottom, #e6e6e6 0%, #cdcdcd 90%, #fff 100%);
  background-image: -ms-linear-gradient(to bottom, #e6e6e6 0%, #cdcdcd 90%, #fff 100%);
  background-image: -moz-linear-gradient(to bottom, #e6e6e6 0%, #cdcdcd 90%, #fff 100%);
  background-image: -webkit-linear-gradient(to bottom, #e6e6e6 0%, #cdcdcd 90%, #fff 100%);
  background-image: linear-gradient(to bottom, #e6e6e6 0%, #cdcdcd 90%, #fff 100%);
}

.ues-button-primary {
  background-color: #dd4814;
  background-image: -o-linear-gradient(to bottom, #f39455 0%, #ef5e1f 5%, #dd4814 100%);
  background-image: -ms-linear-gradient(to bottom, #f39455 0%, #ef5e1f 5%, #dd4814 100%);
  background-image: -moz-linear-gradient(to bottom, #f39455 0%, #ef5e1f 5%, #dd4814 100%);
  background-image: -webkit-linear-gradient(to bottom, #f39455 0%, #ef5e1f 5%, #dd4814 100%);
  background-image: linear-gradient(to bottom, #f39455 0%, #ef5e1f 5%, #dd4814 100%);
  color: #fff;
  border-color: #ad2e03;
}

.ues-button-primary:hover {
  background-color: #f28a45;
  background-image: -o-linear-gradient(to bottom, #f39455 0%, #f28a45 5%, #dd4814 100%);
  background-image: -ms-linear-gradient(to bottom, #f39455 0%, #f28a45 5%, #dd4814 100%);
  background-image: -moz-linear-gradient(to bottom, #f39455 0%, #f28a45 5%, #dd4814 100%);
  background-image: -webkit-linear-gradient(to bottom, #f39455 0%, #f28a45 5%, #dd4814 100%);
  background-image: linear-gradient(to bottom, #f39455 0%, #f28a45 5%, #dd4814 100%);
}

.ues-button-primary:focus,
.ues-button-primary:active {
  background-color: #dd4814;
  background-image: -o-linear-gradient(to bottom, #dd4814 0%, #bf3b0d 5%, #f39455 100%);
  background-image: -ms-linear-gradient(to bottom, #dd4814 0%, #bf3b0d 5%, #f39455 100%);
  background-image: -moz-linear-gradient(to bottom, #dd4814 0%, #bf3b0d 5%, #f39455 100%);
  background-image: -webkit-linear-gradient(to bottom, #dd4814 0%, #bf3b0d 5%, #f39455 100%);
  background-image: linear-gradient(to bottom, #dd4814 0%, #bf3b0d 5%, #f39455 100%);
  border-color: #333;
}

.ues-button-tertiary {
  background-color: white;
  background-image: none;
  border: 1px solid #c8c8c8;
}

.ues-button-tertiary:hover {
  background-color: #e6e6e6;
  background-image: none;
  border-color: #cdcdcd;
}

.ues-button-tertiary:focus,
.ues-button-tertiary:active {
  background-color: #e6e6e6;
  background-image: none;
  border-color: #dd4814;
}

a.ues-button {
  color: inherit;
}

.ues-button-small {
  font-size: 11px;
  padding: 0 5px;
  font-weight: 400;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.ues-button-large {
  font-size: 16px;
  padding: 14px 38px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

.ues-button-block {
  margin: 0.5em 0;
  display: block;
  width: 100%;
}

/** a non text button needs less padding */

.ues-button-icon {
  padding-left: 7px;
  padding-right: 7px;
}

.ues-button-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.ues-button-group:before,
.ues-button-group:after {
  content: ' ';
  display: table;
}

.ues-button-group:after {
  clear: both;
}

.ues-button-group .ues-button,
.ues-button-group input[type="search"] {
  float: left;
}

/** first child of >1 buttons **/

.ues-button-group > input[type="search"]:first-child:not(:last-child):not(.ues-dropdown-toggle),
.ues-button-group > .ues-button:first-child:not(:last-child):not(.ues-dropdown-toggle) {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: none;
}

/** last child of >1 buttons **/

.ues-button-group > input[type="search"]:last-child:not(:first-child),
.ues-button-group > .ues-button:last-child:not(:first-child),
.ues-button-group > .ues-dropdown-toggle:not(:first-child) {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

/** any button surrounded by other buttons **/

.ues-button-group > .ues-button:not(:first-child):not(:last-child):not(.ues-dropdown-toggle) {
  border-right: none;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}