/**
 * FIXME
 * add a build option to create two version of final css with border-box
 * on the ues- namespace (for backward compat) and:
 * *, *::before, *::after { box-sizing: border-box }
 */

[class*="ues-"],
[class*="ues-"]:before,
[class*="ues-"]:after,
[class*="ues-"] *,
[class*="ues-"] *:before,
[class*="ues-"] *:after {
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/** TBD
 *
 * agree on a rwd strategy, provide general rules for use as per .ues-page,
 * for specific things leave it up to implementation, influenced by the
 * general rwd strategy
 * **/

.ues-page {
  width: 984px;
  margin: 0 auto;
}

@media (min-width: 1210px) {
  .ues-page {
    width: 1200px;
    margin: 0 auto;
  }
}

@media (max-width: 940px) {
  .ues-page {
    width: 100%;
  }
}

/** modifiers/globals **/

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

/**
 * http://nicolasgallagher.com/micro-clearfix-hack/
 */

.clear:before,
.clear:after {
  content: " ";
  display: table;
}

.clear:after {
  clear: both;
}

/**
 * Footer
 */

.ues-footer > .ues-footer-row {
  font-size: 11px;
  padding: 2em 1em;
  background-color: #f7f6f5;
  border-top: 1px solid #d8d8d8;
}

.ues-footer > .ues-footer-row + .ues-footer-row {
  font-size: 12px;
  background-color: #efedec;
  border-top: 1px solid #d8d8d8;
}

@media screen and (max-width: 320px) {
  .ues-footer > .ues-footer-row {
    font-size: 14px;
  }
}

.ues-footer a {
  color: #333;
}

.ues-footer a:hover {
  color: #dd4814;
  text-decoration: underline;
}

.ues-footer-column {
  margin: 0 20px 0 0;
}

.ues-footer .yui3-u-1-6:last-child .ues-footer-column {
  margin: 0;
}

.ues-footer-copyright p {
  margin: 0;
}

/**
 * Boxes
 */

.ues-box {
  padding: 20px;
  margin: 0 0 20px 0;
  -o-border-radius: 12px;
  -ms-border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}

.ues-box form {
  margin: 0;
}

.ues-box label:first-child {
  margin-top: 0;
}

.ues-box-solid {
  background: #f7f6f5;
}

.ues-box-bordered {
  border: 1px solid #ccc;
}

.ues-box-shadowed {
  -o-box-shadow: 0px 1px 6px 0px #C2C2C2;
  -ms-box-shadow: 0px 1px 6px 0px #C2C2C2;
  -moz-box-shadow: 0px 1px 6px 0px #C2C2C2;
  -webkit-box-shadow: 0px 1px 6px 0px #C2C2C2;
  box-shadow: 0px 1px 6px 0px #C2C2C2;
}

.ues-well {
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -o-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
  -ms-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
}