[class*="ues-"],
[class*="ues-"]:before,
[class*="ues-"]:after,
[class*="ues-"] *,
[class*="ues-"] *:before,
[class*="ues-"] *:after {
  box-sizing: border-box;
}

/** modifiers/globals **/

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

/**
 * http://nicolasgallagher.com/micro-clearfix-hack/
 */

.clear:before,
.clear:after {
  content: " ";
  display: table;
}

.clear:after {
  clear: both;
}

/**
 * Footer
 */

.ues-footer {
  margin-top: 4em;
}

.ues-footer > .ues-footer-row {
  font-size: 11px;
  padding: 2em 1em;
  background-color: #f7f6f5;
  border-top: 1px solid #d8d8d8;
}

.ues-footer > .ues-footer-row + .ues-footer-row {
  font-size: 12px;
  background-color: #efedec;
  border-top: 1px solid #d8d8d8;
}

@media screen and (max-width: 320px) {
  .ues-footer > .ues-footer-row {
    font-size: 14px;
  }
}

.ues-footer a {
  color: #333;
}

.ues-footer a:hover {
  color: #dd4814;
  text-decoration: underline;
}

.ues-footer-column {
  margin: 0 20px 0 0;
}

.ues-footer .yui3-u-1-6:last-child .ues-footer-column {
  margin: 0;
}

.ues-footer-copyright p {
  margin: 0;
}

/**
 * Boxes
 */

.ues-box {
  padding: 20px;
  margin: 0 0 2em 0;
  -o-border-radius: 12px;
  -ms-border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}

.ues-box form {
  margin: 0;
}

.ues-box label:first-child {
  margin-top: 0;
}

.ues-box-solid {
  background: #f7f6f5;
}

.ues-box-bordered {
  border: 1px solid #ccc;
}

.ues-container {
  margin: 0 auto;
}

@media screen and (min-width: 979px) {
  .ues-container {
    max-width: 970px;
  }
}

.ues-container-small {
  margin: 0 1em;
}

@media screen and (min-width: 760px) {
  .ues-container-small {
    max-width: 480px;
    margin: 0 auto;
  }
}

.ues-well {
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -o-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
  -ms-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
}

.ues-layout-app {
  /** padding to match fixed navbar height **/
  padding-top: 55px;
}

.ues-layout-body {
  /** padding to match fixed navbar height **/
  padding-top: 80px;
}